# How to adding & deleting the rows and columns in DataFrame...........

1. Create a daatframe

In [1]:
import pandas as pd

In [2]:
itemdf = pd. DataFrame([[100,200,300,400,500],[2,4,6,8,10]],
columns = ['pen','ragister','notebokks','booksset','sheets'])

In [4]:
print("DataFrame:\n", itemdf)

DataFrame:
    pen  ragister  notebokks  booksset  sheets
0  100       200        300       400     500
1    2         4          6         8      10

In [6]:
print(itemdf.shape)

(2, 5)

In [7]:
print(itemdf.size)

10

In [8]:
print(itemdf.keys())

Index(['pen', 'ragister', 'notebokks', 'booksset', 'sheets'], dtype='object')

# How to adding  the rows and columns in DataFrame...........

In [11]:
itemdf2 = pd.DataFrame([[15,16,17,18,20],[2,6,9,7,8]],
columns  =['colurs','pencils','crayons','erasers','sharpners'])
print(itemdf2)

   colurs  pencils  crayons  erasers  sharpners
0      15       16       17       18         20
1       2        6        9        7          8

In [14]:
itemdf3 = itemdf.append(itemdf2)

In [16]:
itemdf3["mobile"]=[15000,11200,8000,9500]

In [17]:
itemdf3["mouse"]=[150,120,80,100]

In [18]:
print(itemdf3)

     pen  ragister  notebokks  booksset  sheets  colurs  pencils  crayons  \
0  100.0     200.0      300.0     400.0   500.0     NaN      NaN      NaN
1    2.0       4.0        6.0       8.0    10.0     NaN      NaN      NaN
0    NaN       NaN        NaN       NaN     NaN    15.0     16.0     17.0
1    NaN       NaN        NaN       NaN     NaN     2.0      6.0      9.0

   erasers  sharpners  mobile  mouse
0      NaN        NaN   15000    150
1      NaN        NaN   11200    120
0     18.0       20.0    8000     80
1      7.0        8.0    9500    100

# Deleting the row and columns..........

In [19]:
itemdf3 = itemdf3.drop(index =[0])
print(itemdf3)

   pen  ragister  notebokks  booksset  sheets  colurs  pencils  crayons  \
1  2.0       4.0        6.0       8.0    10.0     NaN      NaN      NaN
1  NaN       NaN        NaN       NaN     NaN     2.0      6.0      9.0

   erasers  sharpners  mobile  mouse
1      NaN        NaN   11200    120
1      7.0        8.0    9500    100